<html>
  <body>
  {% csrf_token %}
  <h1> {{ question }} </h1>
  <p> {{ question.text }} </p>
  <ul>
  {% for a in answers %}
  <li> {{ a.text }} </li>
  {% endfor %}
  <ul>
  <br>
  <p>
  {% for e in form.non_field_error %}
        {{ e }}
  {% endfor %}
  <form method="post" action="/question/{{ qn }}/">
    <fieldset>
      {% for field in form %}
      {% if field.label != "Question" %}
      <label> {{ field.label }} </label>
          {{ field }}
      {% else %}
          {{ field }}
      {% endif %}
      {% endfor %}
    </fieldset>
    <button type="submit"> Submit </button>
  </form>
  </body>
</html>
